<footer id="contact" class="bg-dark text-light mt-5 p-4 text-center">
	<p>
		<i class="bi bi-envelope me-2"></i>
		<a href="mailto:okasha.i.anas@gmail.com" class="text-light text-decoration-none">
			{{ 'okasha.i.anas@gmail.com' }}
		</a>
	</p>

	<p>
		<i class="bi bi-telephone me-2"></i>
		<a href="tel:+962786025324" class="text-light text-decoration-none">
			{{ '+962-786025324' }}
		</a>
	</p>

	<p>
		<i class="bi bi-geo-alt me-2"></i>
		Amman, Jordan
	</p>

	<div class="d-flex justify-content-center gap-4 fs-4 mb-3">
		<a href="https://www.linkedin.com/in/anas-okasha/" target="_blank" class="text-light">
			<i class="bi bi-linkedin"></i>
		</a>
	</div>

	<small>© 2026. All rights reserved.</small>
</footer>
